<a href="https://colab.research.google.com/github/chrisdias2311/pythonlab/blob/main/Python_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 40. Write a python program to create a dictionary of 10 items. Perform following operations on the list

In [ ]:
my_dict = {
    "apple": 2,
    "banana": 5,
    "cherry": 10,
    "durian": 3,
    "elderberry": 4,
    "fig": 6,
    "grape": 8,
    "honeydew": 1,
    "kiwi": 7,
    "lemon": 9
}

● Return the value of the specified key

In [ ]:
print(my_dict["apple"])

● Remove the element with the specified key

In [ ]:
del my_dict["banana"]
print(my_dict)

● Remove the last inserted key-value pair

In [ ]:
lastKey = list(my_dict.keys())[-1]
print(lastKey)
del my_dict[lastKey]
print(my_dict)

● Update the dictionary with the specified key-value pairs

In [ ]:
my_dict.update({"apple": 10,"banana": 5})
print(my_dict)

● Return list of all values in the dictionary

In [ ]:
print(list(my_dict.values()))

## 39. Write a python program to create a list of 10 items. Perform following operations on the list.

● Add an element at the end of the list

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
print(my_list)
my_list.append(7)
print(my_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

● Add an element at the specified position

In [ ]:
my_list.insert(4, 69)
print(my_list)

[1, 2, 3, 4, 69, 5, 6, 7]

● Remove the element at the specified position

In [ ]:
del my_list[4]
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

● Revere the order of the list

In [ ]:
my_list.reverse()
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

● Return the number of elements with the specified value

In [ ]:
print(my_list.count(2))

1

## 38. Write a python program to implement string methods. Create a string “hello programming”. Apply string methods to get following outputs “HELLO PROGRAMMING”, “PROGRAMMING”, “Hello Programming”, “o Programming”, [“Hello”, “Programming”] , “g”

In [ ]:
my_str = "hello programming"

# Convert it to Upper case
my_str = my_str.upper()
print(my_str)

# Get the substring starting from the 7th character
my_str = my_str[6:]
print(my_str)

# Get the substring starting from the 7th character
my_str = "hello programming"
my_str = my_str.capitalize()
print(my_str)

# Get the substring starting from 4th Character 
my_str = my_str[4:]
print(my_str)

# Split the String into a alist of words 
my_list = my_str.split()
print(my_list)

# Get the last character of the string
char = my_str[-1]
print(char)

HELLO PROGRAMMING
PROGRAMMING
Hello programming
o programming
['o', 'programming']
g

## 37. Write a program to check whether the input year is a leap year or not

In [ ]:
year = int(input("Enter a ayear: "))

if(year % 4 == 0):
    print("Leap Year")
else:
  print("Not a leap year")

Enter a ayear: 2024
Leap Year

## 36. Write a Python program to check and print if the inputted number is ‘positive’, ‘negative’ or ‘zero’

In [ ]:
num  = int(input("Enter a number"))

if(num==0):
  print("Number is 0")
elif (num<0):
  print("Number is negetive")
else:
  print("Number is positive")

Enter a number-29
Number is negetive

## 35. Print the multiplication tables of all the number between 1 to n##

In [ ]:
n = int(input("Enter a number"))

for i in range(1, n+1):
  len = 10
  for j in range(1, len+1):
    print(i, " x ", j, " = ", j*i)

## 34. Write a python program to calculate factorials of all the even numbers between 10 to 50

In [ ]:
def factorial(n):
  if n==0:
    return 1;
  else:
    return n * factorial(n-1)


for i in range(10, 51):
  print("Factorial of ",i , " is ", factorial(i))

## 33. Write a python program to print all the fibonacci numbers between 1 to 50.

In [ ]:
# Function using iteraton
def fib(n):
  a, b = 0, 1

  for i in range(n):
    print(b)
    temp=a
    a=b
    b=temp+b


# Function usign recursion
def fibo(n, a, b, c, a_list):
  if(c==n):
    return

  # print(b)  
  a_list.append(b)
  fibo(n, b, a+b, c+1, a_list)  



# fib(10) 
# fibo(10, 0, 1, 0) 
n=10
for i in range(n+1):
  my_list=[]
  fibo(i, 0, 1, 0, my_list)
  print(my_list)

[]
[1]
[1, 1]
[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]
[1, 1, 2, 3, 5, 8, 13]
[1, 1, 2, 3, 5, 8, 13, 21]
[1, 1, 2, 3, 5, 8, 13, 21, 34]
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

##32. Write a python program to range function to add all the odd numbers between 1 to n and display the clasresult

In [ ]:
def add_n(n):
  sum=0;
  for i in range(1, n):
    if(i%2==1):
      sum+=i
  return sum

num = int(input("Enter a number"))
add_n(num)

Enter a number10

25

## 31. Write a python program to print a pyramid pattern on the screen

In [ ]:
n = int(input("Enter height of pyramid: "))

for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("*"*(2*i-1))

Enter height of pyramid: 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

## 30. Write a python program implements stack using array

In [ ]:
class Stack:
    def __init__(self):
      self.items=[]

    def is_empty(self):
      return len(self.items)==0;


    def push(self, num):
      self.items.append(num)


    def pop(self):
      if self.is_empty():
        return None
      else:
        return self.items.pop()


    def peek(self):
      if self.is_empty():
        return None
      else:
        return self.items[-1]

    def size(self):
      return len(self.items)



s = Stack()
s.push(1)
s.push(2)
s.push(3)
print(s.peek())    # Output: 3
s.pop()
print(s.peek())    # Output: 2
print(s.size())    # Output: 2

3
2
2

## 29. Write a program to create an array a of size 10 of type integer. Create another array b which has four times the elements of array a

In [ ]:
# Extract elements from 4 to 8 from an array and store in another array.
a = [i for i in range(10)]
print(a)

# create array b with four times the elements of array a
b = a*4
print(b)

# extract elements from 4 to 8 from an array and store in another array
c = a[4:8]
print(c)

# Print the array in the reverse order 
print("Array in reverse order is: ", a[::-1])

# pop elements from the array from first location, from middle and from last
a.pop(0)
a.pop(len(a)//2)
a.pop()
print("After poppng elements from the array from first location, from middle and from last", a)

# append three more elements to the array
a.append(10)
a.append(12)
a.append(13)
print(a)

# delete the third elements of an array
del a[2]
print("After deleting the thirs element: ", a)

# search an element from an array
element = 7 
if element in a:
  print("Element found")
else:
  print("Element not found")  


# insert an element in the middle
a.insert(len(a)//2, 100)
print("Array after inserting the element in the middle", a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7]
Array in reverse order is:  [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
After poppng elements from the array from first location, from middle and from last [1, 2, 3, 4, 6, 7, 8]
[1, 2, 3, 4, 6, 7, 8, 10, 12, 13]
After deleting the thirs element:  [1, 2, 4, 6, 7, 8, 10, 12, 13]
Element found
Array after inserting the element in the middle [1, 2, 4, 6, 100, 7, 8, 10, 12, 13]

## 28. Write a program to compute sum of all the list elements and implement the same using reduce function

In [ ]:
import functools as ft 
numbers = [1, 2, 3, 4, 5]

sum_of_nums = 0

# compute sum of list elements using a for loop
for i in range(len(numbers)):
  sum_of_nums += numbers[i]

# compute sum of list elements using reduce function
sum_reduce_func = ft.reduce(lambda x, y: x+y, numbers)

print("sum of numbers = ", sum_of_nums)  
print("sum of numbers = ", sum_reduce_func)

sum of numbers =  15
sum of numbers =  15

## 27. Write a program to function that filters vowels from given list of characters and implement the same using filter function  (Revision must)

In [ ]:
def filter_vowels(chars):
  vowels = ['a', 'e', 'i', 'o', 'u']
  filtered_chars = []

  for char in chars:
    if char.lower() in vowels:
      filtered_chars.append(char)

  return filtered_chars 

chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

filtered_chars_func = filter_vowels(chars)

# filter vowels using the filter function and the filter_vowels function
filtered_chars = list(filter(lambda x: x.lower() in ['a', 'e', 'i', 'o', 'u'], chars))


# print the filtered characters
print("Filtered characters using filter function:", filtered_chars)
print("Filtered characters using filter_vowels function:", filtered_chars_func)

Filtered characters using filter function: ['a', 'e', 'i']
Filtered characters using filter_vowels function: ['a', 'e', 'i']

## 26. Write a program to double all the numbers of the list using normal function and Implement the same using map function

In [ ]:
def double_numbers(numbers):
  doubled_numbers = []

  for num in numbers:
    doubled_numbers.append(num*2)

  return doubled_numbers

numbers = [1, 2, 3, 4, 5]

doubled_numbers = list(map(lambda x:x*2, numbers))
doubled_numbers_func =  double_numbers(numbers)

print("Doubled numbers using map function:", doubled_numbers)
print("Doubled numbers using double_numbers function:", doubled_numbers_func)

Doubled numbers using map function: [2, 4, 6, 8, 10]
Doubled numbers using double_numbers function: [2, 4, 6, 8, 10]

## 25. Write a function to calculate cube of a number and implement the same using anonymous function called lambda

In [ ]:
def cube(x):
    return x**3


result = cube(5)
print("Cube of 5 using normal function:", result)

# use an anonymous lambda function to calculate the cube of 5
cube_lambda = lambda x:x**3
result_lambda = cube_lambda(5)
print("Cube of 5 using lambda function:", result_lambda)

Cube of 5 using normal function: 125
Cube of 5 using lambda function: 125

## 24. To implement a python program to handle multiple exceptions (min 5 exceptions) implement all the types of errors that can be handled in try-except block.

In [ ]:
# define a function to handle exceptions
def handle_exceptions():
    try:
        # division by zero
        num = 1 / 0
    except ZeroDivisionError:
        print("Error: division by zero")

    try:
        # accessing a non-existent index of a list
        my_list = [1, 2, 3]
        item = my_list[3]
    except IndexError:
        print("Error: index out of range")

    try:
        # converting a string to an integer
        my_string = "hello"
        my_num = int(my_string)
    except ValueError:
        print("Error: invalid conversion to integer")

    try:
        # accessing a non-existent attribute of an object
        my_dict = {"key": "value"}
        my_val = my_dict["nonexistent_key"]
    except KeyError:
        print("Error: key does not exist")

    try:
        # attempting to call a non-callable object
        my_num = 1234
        my_num()
    except TypeError:
        print("Error: object is not callable")

# call the handle_exceptions function
handle_exceptions()

Error: division by zero
Error: index out of range
Error: invalid conversion to integer
Error: key does not exist
Error: object is not callable

## 23. Write a Python program to calculate the sum of first 5 natural numbers using recursion.

In [ ]:
def sum_natural_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_natural_numbers(n - 1)

# calculate the sum of the first 5 natural numbers using the sum_natural_numbers function
result = sum_natural_numbers(5)

# print the result
print("The sum of the first 5 natural numbers is:", result)

The sum of the first 5 natural numbers is: 15

## 22. To implement a python program to define user defined functions to handle multiple exceptions (min 5 exceptions)  (Revision Must)

In [ ]:
# define a function to handle a ZeroDivisionError
def handle_zero_division_error():
    try:
        num = 1 / 0
    except ZeroDivisionError:
        print("Error: division by zero")

# define a function to handle an IndexError
def handle_index_error():
    try:
        my_list = [1, 2, 3]
        item = my_list[3]
    except IndexError:
        print("Error: index out of range")

# define a function to handle a ValueError
def handle_value_error():
    try:
        my_string = "hello"
        my_num = int(my_string)
    except ValueError:
        print("Error: invalid conversion to integer")

# define a function to handle a KeyError
def handle_key_error():
    try:
        my_dict = {"key": "value"}
        my_val = my_dict["nonexistent_key"]
    except KeyError:
        print("Error: key does not exist")

# define a function to handle a TypeError
def handle_type_error():
    try:
        my_num = 1234
        my_num()
    except TypeError:
        print("Error: object is not callable")

# call the exception handling functions
handle_zero_division_error()
handle_index_error()
handle_value_error()
handle_key_error()
handle_type_error()

Error: division by zero
Error: index out of range
Error: invalid conversion to integer
Error: key does not exist
Error: object is not callable

## 21. Write a python program to implement a python program to implement Linear Search Algorithm using function

In [ ]:
arr = [i for i in range(10)]
flag = False
toFind = 5

for i in range(len(arr)):
  if(arr[i]==toFind):
    flag=True

if(flag):
  print("Found")
else: 
  print("Not found")

Found