<a href="https://colab.research.google.com/github/chrisdias2311/pythonlab/blob/main/Python_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 40. Write a python program to create a dictionary of 10 items. Perform following operations on the list

In [ ]:
my_dict = {
    "apple": 2,
    "banana": 5,
    "cherry": 10,
    "durian": 3,
    "elderberry": 4,
    "fig": 6,
    "grape": 8,
    "honeydew": 1,
    "kiwi": 7,
    "lemon": 9
}

● Return the value of the specified key

In [ ]:
print(my_dict["apple"])

2

● Remove the element with the specified key

In [ ]:
del my_dict["banana"]
print(my_dict)

{'apple': 2, 'cherry': 10, 'durian': 3, 'elderberry': 4, 'fig': 6, 'grape': 8, 'honeydew': 1, 'kiwi': 7, 'lemon': 9}

● Remove the last inserted key-value pair

In [ ]:
lastKey = list(my_dict.keys())[-1]
print(lastKey)
del my_dict[lastKey]
print(my_dict)

lemon
{'apple': 2, 'cherry': 10, 'durian': 3, 'elderberry': 4, 'fig': 6, 'grape': 8, 'honeydew': 1, 'kiwi': 7}

● Update the dictionary with the specified key-value pairs

In [ ]:
my_dict.update({"apple": 10,"banana": 5})
print(my_dict)

{'apple': 10, 'cherry': 10, 'durian': 3, 'elderberry': 4, 'fig': 6, 'grape': 8, 'honeydew': 1, 'kiwi': 7, 'banana': 5}

● Return list of all values in the dictionary

In [ ]:
print(list(my_dict.values()))

[10, 10, 3, 4, 6, 8, 1, 7, 5]

## 39. Write a python program to create a list of 10 items. Perform following operations on the list.

● Add an element at the end of the list

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
print(my_list)
my_list.append(7)
print(my_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

● Add an element at the specified position

In [ ]:
my_list.insert(4, 69)
print(my_list)

[1, 2, 3, 4, 69, 5, 6, 7]

● Remove the element at the specified position

In [ ]:
del my_list[4]
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

● Revere the order of the list

In [ ]:
my_list.reverse()
print(my_list)

[7, 6, 5, 4, 3, 2, 1]

● Return the number of elements with the specified value

In [ ]:
print(my_list.count(2))

1

## 38. Write a python program to implement string methods. Create a string “hello programming”. Apply string methods to get following outputs “HELLO PROGRAMMING”, “PROGRAMMING”, “Hello Programming”, “o Programming”, [“Hello”, “Programming”] , “g”

In [ ]:
my_str = "hello programming"

# Convert it to Upper case
my_str = my_str.upper()
print(my_str)

# Get the substring starting from the 7th character
my_str = my_str[6:]
print(my_str)

# Get the substring starting from the 7th character
my_str = "hello programming"
my_str = my_str.capitalize()
print(my_str)

# Get the substring starting from 4th Character 
my_str = my_str[4:]
print(my_str)

# Split the String into a alist of words 
my_list = my_str.split()
print(my_list)

# Get the last character of the string
char = my_str[-1]
print(char)

HELLO PROGRAMMING
PROGRAMMING
Hello programming
o programming
['o', 'programming']
g

## 37. Write a program to check whether the input year is a leap year or not

In [ ]:
year = int(input("Enter a ayear: "))

if(year % 4 == 0):
    print("Leap Year")
else:
  print("Not a leap year")

Enter a ayear: 2004
Leap Year

## 36. Write a Python program to check and print if the inputted number is ‘positive’, ‘negative’ or ‘zero’

In [ ]:
num  = int(input("Enter a number"))

if(num==0):
  print("Number is 0")
elif (num<0):
  print("Number is negetive")
else:
  print("Number is positive")

Enter a number10
Number is positive

## 35. Print the multiplication tables of all the number between 1 to n##

In [ ]:
n = int(input("Enter a number"))

for i in range(1, n+1):
  len = 10
  for j in range(1, len+1):
    print(i, " x ", j, " = ", j*i)

Enter a number12
1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
1  x  10  =  10
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50
6  x  1  =  6
6  x  2  =  12
6  x  3  =  18
6  x  4  =  24
6  x  5  =  30
6  x  6  =  36
6  x  7  =  42
6  x  8  =  48
6  x  9  =  54
6  x  10  =  60
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90
10  x  1  =  10
10  x  2  =  20
10  x  3  =  30
10  x  4  =  40
10  x  5  =  50
10  x  6  =  60
10  x  7  =  70
10  x  8  =  80
10  x  9  =  90
10  x  10  =  100
11  x  1  =  11
11  x  2  =  22
11  x  3  =  33
11  x  4  =  44
11  x  5  =  55
11  x  6  =  66
11  x  7  =  77
11  x  8  =  88
11  x  9  =  99
11  x  10  =  110
12  x  1  =  12
12  x  2  =  24
12  x  3  =  36
12  x  4  =  48
12  x  5  =  60
12  x  6  =  72
12  x  7  =  84
12  x  8  =  96
12  x  9  =  108
12  x  10  =  120

## 34. Write a python program to calculate factorials of all the even numbers between 10 to 50

In [ ]:
def factorial(n):
  if n==0:
    return 1;
  else:
    return n * factorial(n-1)


for i in range(10, 51):
  print("Factorial of ",i , " is ", factorial(i))

Factorial of  10  is  3628800
Factorial of  11  is  39916800
Factorial of  12  is  479001600
Factorial of  13  is  6227020800
Factorial of  14  is  87178291200
Factorial of  15  is  1307674368000
Factorial of  16  is  20922789888000
Factorial of  17  is  355687428096000
Factorial of  18  is  6402373705728000
Factorial of  19  is  121645100408832000
Factorial of  20  is  2432902008176640000
Factorial of  21  is  51090942171709440000
Factorial of  22  is  1124000727777607680000
Factorial of  23  is  25852016738884976640000
Factorial of  24  is  620448401733239439360000
Factorial of  25  is  15511210043330985984000000
Factorial of  26  is  403291461126605635584000000
Factorial of  27  is  10888869450418352160768000000
Factorial of  28  is  304888344611713860501504000000
Factorial of  29  is  8841761993739701954543616000000
Factorial of  30  is  265252859812191058636308480000000
Factorial of  31  is  8222838654177922817725562880000000
Factorial of  32  is  263130836933693530167218012160000000
Factorial of  33  is  8683317618811886495518194401280000000
Factorial of  34  is  295232799039604140847618609643520000000
Factorial of  35  is  10333147966386144929666651337523200000000
Factorial of  36  is  371993326789901217467999448150835200000000
Factorial of  37  is  13763753091226345046315979581580902400000000
Factorial of  38  is  523022617466601111760007224100074291200000000
Factorial of  39  is  20397882081197443358640281739902897356800000000
Factorial of  40  is  815915283247897734345611269596115894272000000000
Factorial of  41  is  33452526613163807108170062053440751665152000000000
Factorial of  42  is  1405006117752879898543142606244511569936384000000000
Factorial of  43  is  60415263063373835637355132068513997507264512000000000
Factorial of  44  is  2658271574788448768043625811014615890319638528000000000
Factorial of  45  is  119622220865480194561963161495657715064383733760000000000
Factorial of  46  is  5502622159812088949850305428800254892961651752960000000000
Factorial of  47  is  258623241511168180642964355153611979969197632389120000000000
Factorial of  48  is  12413915592536072670862289047373375038521486354677760000000000
Factorial of  49  is  608281864034267560872252163321295376887552831379210240000000000
Factorial of  50  is  30414093201713378043612608166064768844377641568960512000000000000

## 33. Write a python program to print all the fibonacci numbers between 1 to 50.

In [ ]:
# Function using iteraton
def fib(n):
  a, b = 0, 1

  for i in range(n):
    print(b)
    temp=a
    a=b
    b=temp+b


# Function usign recursion
def fibo(n, a, b, c, a_list):
  if(c==n):
    return

  # print(b)  
  a_list.append(b)
  fibo(n, b, a+b, c+1, a_list)  



# fib(10) 
# fibo(10, 0, 1, 0) 
n=10
for i in range(n+1):
  my_list=[]
  fibo(i, 0, 1, 0, my_list)
  print(my_list)

##32. Write a python program to range function to add all the odd numbers between 1 to n and display the clasresult

In [ ]:
def add_n(n):
  sum=0;
  for i in range(1, n):
    if(i%2==1):
      sum+=i
  return sum

num = int(input("Enter a number"))
add_n(num)

## 31. Write a python program to print a pyramid pattern on the screen

In [ ]:
n = int(input("Enter height of pyramid: "))

for i in range(1, n+1):
  print(" "*(n-i), end="")
  print("*"*(2*i-1))

## 30. Write a python program implements stack using array

In [ ]:
class Stack:
    def __init__(self):
      self.items=[]

    def is_empty(self):
      return len(self.items)==0;


    def push(self, num):
      self.items.append(num)


    def pop(self):
      if self.is_empty():
        return None
      else:
        return self.items.pop()


    def peek(self):
      if self.is_empty():
        return None
      else:
        return self.items[-1]

    def size(self):
      return len(self.items)



s = Stack()
s.push(1)
s.push(2)
s.push(3)
print(s.peek())    # Output: 3
s.pop()
print(s.peek())    # Output: 2
print(s.size())    # Output: 2

## 29. Write a program to create an array a of size 10 of type integer. Create another array b which has four times the elements of array a

In [ ]:
# Extract elements from 4 to 8 from an array and store in another array.
a = [i for i in range(10)]
print(a)

# create array b with four times the elements of array a
b = a*4
print(b)

# extract elements from 4 to 8 from an array and store in another array
c = a[4:8]
print(c)

# Print the array in the reverse order 
print("Array in reverse order is: ", a[::-1])

# pop elements from the array from first location, from middle and from last
a.pop(0)
a.pop(len(a)//2)
a.pop()
print("After poppng elements from the array from first location, from middle and from last", a)

# append three more elements to the array
a.append(10)
a.append(12)
a.append(13)
print(a)

# delete the third elements of an array
del a[2]
print("After deleting the thirs element: ", a)

# search an element from an array
element = 7 
if element in a:
  print("Element found")
else:
  print("Element not found")  


# insert an element in the middle
a.insert(len(a)//2, 100)
print("Array after inserting the element in the middle", a)

## 28. Write a program to compute sum of all the list elements and implement the same using reduce function

In [ ]:
import functools as ft 
numbers = [1, 2, 3, 4, 5]

sum_of_nums = 0

# compute sum of list elements using a for loop
for i in range(len(numbers)):
  sum_of_nums += numbers[i]

# compute sum of list elements using reduce function
sum_reduce_func = ft.reduce(lambda x, y: x+y, numbers)

print("sum of numbers = ", sum_of_nums)  
print("sum of numbers = ", sum_reduce_func)

## 27. Write a program to function that filters vowels from given list of characters and implement the same using filter function  (Revision must)

In [ ]:
def filter_vowels(chars):
  vowels = ['a', 'e', 'i', 'o', 'u']
  filtered_chars = []

  for char in chars:
    if char.lower() in vowels:
      filtered_chars.append(char)

  return filtered_chars 

chars = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

filtered_chars_func = filter_vowels(chars)

# filter vowels using the filter function and the filter_vowels function
filtered_chars = list(filter(lambda x: x.lower() in ['a', 'e', 'i', 'o', 'u'], chars))


# print the filtered characters
print("Filtered characters using filter function:", filtered_chars)
print("Filtered characters using filter_vowels function:", filtered_chars_func)

## 26. Write a program to double all the numbers of the list using normal function and Implement the same using map function

In [ ]:
def double_numbers(numbers):
  doubled_numbers = []

  for num in numbers:
    doubled_numbers.append(num*2)

  return doubled_numbers

numbers = [1, 2, 3, 4, 5]

doubled_numbers = list(map(lambda x:x*2, numbers))
doubled_numbers_func =  double_numbers(numbers)

print("Doubled numbers using map function:", doubled_numbers)
print("Doubled numbers using double_numbers function:", doubled_numbers_func)

## 25. Write a function to calculate cube of a number and implement the same using anonymous function called lambda

In [ ]:
def cube(x):
    return x**3


result = cube(5)
print("Cube of 5 using normal function:", result)

# use an anonymous lambda function to calculate the cube of 5
cube_lambda = lambda x:x**3
result_lambda = cube_lambda(5)
print("Cube of 5 using lambda function:", result_lambda)

## 24. To implement a python program to handle multiple exceptions (min 5 exceptions) implement all the types of errors that can be handled in try-except block.

In [ ]:
# define a function to handle exceptions
def handle_exceptions():
    try:
        # division by zero
        num = 1 / 0
    except ZeroDivisionError:
        print("Error: division by zero")

    try:
        # accessing a non-existent index of a list
        my_list = [1, 2, 3]
        item = my_list[3]
    except IndexError:
        print("Error: index out of range")

    try:
        # converting a string to an integer
        my_string = "hello"
        my_num = int(my_string)
    except ValueError:
        print("Error: invalid conversion to integer")

    try:
        # accessing a non-existent attribute of an object
        my_dict = {"key": "value"}
        my_val = my_dict["nonexistent_key"]
    except KeyError:
        print("Error: key does not exist")

    try:
        # attempting to call a non-callable object
        my_num = 1234
        my_num()
    except TypeError:
        print("Error: object is not callable")

# call the handle_exceptions function
handle_exceptions()

## 23. Write a Python program to calculate the sum of first 5 natural numbers using recursion.

In [ ]:
def sum_natural_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_natural_numbers(n - 1)

# calculate the sum of the first 5 natural numbers using the sum_natural_numbers function
result = sum_natural_numbers(5)

# print the result
print("The sum of the first 5 natural numbers is:", result)

## 22. To implement a python program to define user defined functions to handle multiple exceptions (min 5 exceptions)  (Revision Must)

In [ ]:
# define a function to handle a ZeroDivisionError
def handle_zero_division_error():
    try:
        num = 1 / 0
    except ZeroDivisionError:
        print("Error: division by zero")

# define a function to handle an IndexError
def handle_index_error():
    try:
        my_list = [1, 2, 3]
        item = my_list[3]
    except IndexError:
        print("Error: index out of range")

# define a function to handle a ValueError
def handle_value_error():
    try:
        my_string = "hello"
        my_num = int(my_string)
    except ValueError:
        print("Error: invalid conversion to integer")

# define a function to handle a KeyError
def handle_key_error():
    try:
        my_dict = {"key": "value"}
        my_val = my_dict["nonexistent_key"]
    except KeyError:
        print("Error: key does not exist")

# define a function to handle a TypeError
def handle_type_error():
    try:
        my_num = 1234
        my_num()
    except TypeError:
        print("Error: object is not callable")

# call the exception handling functions
handle_zero_division_error()
handle_index_error()
handle_value_error()
handle_key_error()
handle_type_error()

## 21. Write a python program to implement a python program to implement Linear Search Algorithm using function

In [ ]:
arr = [i for i in range(10)]
flag = False
toFind = 5

for i in range(len(arr)):
  if(arr[i]==toFind):
    flag=True

if(flag):
  print("Found")
else: 
  print("Not found")

## 20. Write a python program to create a Bank class where deposits and withdrawals can be handled by using instance methods.

In [ ]:
class Bank:
  def __init__(self, balance=0):
    self.balance = balance
  
  def deposit(self, amt):
    self.balance += amt
    print(f"Deposited {amt}. New balance is {self.balance}")

  def withdraw(self, amt):
    if(amt>self.balance):
       print("Insufficient balance")
    else:
       self.balance -= amt
       print(f"Withdrawn {amt}. New balance is {self.balance}")


bank_acc = Bank(1000)

bank_acc.deposit(500)

bank_acc.withdraw(200)

bank_acc.withdraw(1500)

## 19. Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle

In [ ]:
class Circle:
  def __init__(self, radius):
    self.radius = radius
    print(f"Circle with radius {radius} created")
  
  def area(self):
    return 3.14 * (self.radius ** 2)

  def perimeter(self):
    return 2*3.14*self.radius


c = Circle(5);
print(f"Area: {c.area()}")
print(f"Perimeter: {c.perimeter()}")

## 18. Declare a Class with class-name Student which accepts the Student details, creates an inner class of Student Marks with a constructor that takes marks as arguments and returns the total and percentage of marks along with the student details

In [ ]:
class Student:
    def __init__(self, name, roll_no, age):
        self.name = name
        self.roll_no = roll_no
        self.age = age

    class StudentMarks:
        def __init__(self, student, marks):
            self.student = student
            self.marks = marks

        def calculate_total_marks(self):
            return sum(self.marks)

        def calculate_percentage(self):
            total_marks = self.calculate_total_marks()
            return (total_marks / (len(self.marks) * 100)) * 100

        def get_student_details(self):
            total_marks = self.calculate_total_marks()
            percentage = self.calculate_percentage()
            return f"Name: {self.student.name}\nRoll No: {self.student.roll_no}\nAge: {self.student.age}\nTotal Marks: {total_marks}\nPercentage: {percentage}%"


# Create a Student object with the student details
student = Student("John Doe", "1234", 20)

# Create a StudentMarks object with the marks and the student object
marks = [80, 85, 90, 95]
student_marks = student.StudentMarks(student, marks)

# Get the student details and marks
print(student_marks.get_student_details())

## 17. Write a menu driven program to demonstrate OOP in python

In [ ]:
class Employee:
  total_employees = 0;

  def __init__(self, emp_id, name, dept, salary):
    self.emp_id = emp_id
    self.name = name
    self.dept = dept 
    self.salary = salary 
    Employee.total_employees += 1

  def __str__(self):
    return f"name: {self.name} salary: {self.salary:.2f}" 

  def update_salary(self, new_salary):
    self.salary = new_salary


class Manager(Employee):
  def __init__(self, emp_id, name, dept, salary, team_size):
    super().__init__(emp_id, name, dept, salary)
    self.team_size = team_size

  def __str__(self):
    return f"Manager {super().__str__()} team size: {self.team_size}"


class Staff(Employee):
  def __init__(self, emp_id, name, dept, salary, job_role):
    super().__init__(emp_id, name, dept, salary)
    self.job_role = job_role

  def __str__(self):
    return f"Staff: {super().__str__()} Job Role: {self.job_role}" 




def main():
    employees = []
    while True:
        print("Please select an operation:")
        print("1. Add Employee")
        print("2. Update Employee Salary")
        print("3. Print Total Number of Employees")
        print("4. Display Manager Details")
        print("5. Display Staff Details")
        print("0. Exit")

        choice = int(input("Enter your choice: "))
        if choice == 0:
            print("Exiting program...")
            break

        if choice == 1:
            emp_id = int(input("Enter Employee ID: "))
            name = input("Enter Employee Name: ")
            dept = input("Enter Employee Department: ")
            salary = float(input("Enter Employee Salary: "))
            employee = Employee(emp_id, name, dept, salary)
            employees.append(employee)

        elif choice == 2:
            emp_id = int(input("Enter Employee ID: "))
            for employee in employees:
              if(emp_id == employee.emp_id):
                new_salary = float(input("Enter new salary: "))
                employee.update_salary(new_salary)
                print("Salary updated successfully!")
                break
            else:
                print("Employee not found.")

        elif choice == 3:
            print(f"Total Number of Employees: {Employee.total_employees}")

        elif choice == 4:
            emp_id = int(input("Enter Manager ID: "))
            for employee in employees:
                if isinstance(employee, Manager) and employee.emp_id == emp_id:
                    print(employee)
                    break
            else:
                print("Manager not found.")

        elif choice == 5:
            emp_id = int(input("Enter Staff ID: "))
            for employee in employees:
                if isinstance(employee, Staff) and employee.emp_id == emp_id:
                    print(employee)
                    break
            else:
                print("Staff not found.")

        else:
            print("Invalid choice. Please try again.")

# Call the main function
main()